header.Header
  .Header__tagline
    h2.Header__taglineText 
      | Heavy weight 
      span.u-strong front end 
      | developer
  .Header__logo
    h1.u-visuallyHidden Alessandro Muraro
    svg.Logo
      use(xlink:href='#logo')
  .Header__social
    include socials.pug
  //- .Header__links
  //-   ul.Header__linksList
  //-     li.Header__linksItem
  //-       a.Button(href='https://medium.com/@akmur')
  //-         span.Button__icon
  //-           svg.Button__svg.Icon
  //-             use(xlink:href='#icon-medium')
  //-         span.Button__name medium
  //-     li.Header__linksItem
  //-       a.Button(href='https://twitter.com/akmur')
  //-         span.Button__icon
  //-           svg.Button__svg.Icon
  //-             use(xlink:href='#icon-twitter')
  //-         span.Button__name twitter
  //-     li.Header__linksItem
  //-       a.Button(href='https://it.linkedin.com/in/alessandromuraro')
  //-         span.Button__icon
  //-           svg.Button__svg.Icon
  //-             use(xlink:href='#icon-linkedin')
  //-         span.Button__name linkedin
  //-     li.Header__linksItem
  //-       a.Button(href='https://github.com/akmur')
  //-         span.Button__icon
  //-           svg.Button__svg.Icon
  //-             use(xlink:href='#icon-github')
  //-         span.Button__name github
  //-     li.Header__linksItem
  //-       a.Button(href='mailto:akmuraro@gmail.com')
  //-         span.Button__icon
  //-           svg.Button__svg.Icon
  //-             use(xlink:href='#icon-email')
  //-         span.Button__name email