.SocialList
  a.SocialList__link(
      href="https://alexmuraro.me"
    )
    svg.SocialList__icon
      use(xlink:href='#icon-wp')
  a.SocialList__link(
      href="https://twitter.com/akmur"
    )
    svg.SocialList__icon
      use(xlink:href='#icon-twitter')
  a.SocialList__link(
      href="https://it.linkedin.com/in/alessandromuraro"
    )
    svg.SocialList__icon
      use(xlink:href='#icon-linkedin')
  a.SocialList__link(
      href="https://github.com/akmur"
    )
    svg.SocialList__icon
      use(xlink:href='#icon-github')