.List {
  @extend %TypeDefault;
  margin-bottom: 1em;

  &__item {
    margin: 0 0 1rem 0;

    &::after {
      content: '';
      
    }

    &--tag {
      background: $color-tags-background;
      color: $color-tags-text;
      display: inline-block;
      margin: 0 1rem 1rem 0;
      padding: 0 0.35em 0 0.25em;
    }
  }
}