.SocialList {
  @include grid-row();
  align-items: center;
  justify-content: center;

  &__link {
    // background: $color-text;
    // height: rem-calc(48);
    // width: rem-calc(48);
    align-items: center;
    border-radius: 50%;
    color: $color-text;
    display: flex;
    justify-content: center;
    margin: 0 1rem;

    &:hover {
      opacity: 0.6;
    }
  }

  &__icon {
    width: rem-calc(24);
    height: rem-calc(24);
  }
}