// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.Header {

  &__logo {
    color: $color-text;
  }

  &__taglineText {
    @extend %TypeDelta;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__social {
    margin-top: 1.5rem;

    @include media-query('medium') {
      margin-top: 2rem;
    }
  }
}
