// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.Header {

  &__logo {
    color: $color-text;
  }

  &__taglineText {
    @extend %TypeHuge;
    font-weight: 300;
    text-align: center;
  }
}
