.Intro {
  @include grid-row();
  align-items: center;
  margin: 2em 0 3em;

  &__image {
    @include grid-column($width: (small: 12, medium: 3));
  }

  &__content {
    @include grid-column($width: (small: 12, medium: 9));
  }

  &__text {
    @extend %TypeAlpha;
    font-style: italic;
    text-align: right;
  }
}