.Resume {
  @include grid-row();

  &__column {
    @include grid-column($width: (small: 12, medium: 6));

    &--right {
      text-align: right;
    }
  }

  &__title {
    @extend %TypeBeta;
    font-weight: 400;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed $color-border;
  }
}