.Body {
  background: $color-background;
}

.Wrapper {
  @include grid-row(false);
  margin-top: 1rem;
  max-width: rem-calc(1080);

  @include media-query('medium') {
    margin-top: 3rem;
  }
}

.Page {
  @include grid-column(12);
}
